body {
    background-color: #353238;
    font-family: 'Sulphur Point', sans-serif;
    color: #edf2f4;

    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.top-bar {
    position: absolute;
    top: 0%;
    width: 100%;
    text-align: center;
    background-color: #252327;
}

.main-body {
    text-align: center;
    position: absolute;
    bottom: 10%;
    top: 10%;
    /* height: 100%; */
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: #252327;
}

.current-project {
    background-color: #afdedc;
    border-width: 2px;
    border-style: solid;
    border-color: #5db7de;
    color: #343039;

    padding: 20px;
}

button {
    border-radius: 10%;
    border-width: 2px;
    border-style: solid;
    font-size: 24px;
    padding: 10px;
    color: #343039;
    background-color: #a6d7ed;
    border-color: #5db7de;
}